#unity-checkmark {
    width: 25px;
    height: 25px;
}

#unity-tracker {
    height: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-color: rgba(0, 0, 0, 255);
    border-right-color: rgba(0, 0, 0, 255);
    border-top-color: rgba(0, 0, 0, 255);
    border-bottom-color: rgba(0, 0, 0, 255);
    background-color: rgba(168, 167, 167, 255);
}

#unity-dragger {
    height: 15px;
    width: 15px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    justify-content: flex-start;
    top: 2px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-color: rgba(0, 0, 0, 255);
    border-right-color: rgba(0, 0, 0, 255);
    border-top-color: rgba(0, 0, 0, 255);
    border-bottom-color: rgba(0, 0, 0, 255);
    background-color: rgba(89, 87, 87, 255);
}
